/* Ici vos styles CSS*/

body {
    background-color: #DFEFEC;
    font-family:'Noto Sans JP', sans-serif; /* C'est la police que j'ai chargé depuis Google font */
}

section {
    background-color: white;
}

h2, h3, h4 {
    text-align: center;
}

h1 {
    text-align: center;
}

h2 {
    color:#0DBB9D ;
}

h3 {
    font-style: italic;
}

header, footer {
    background-color: #0DBB9D;
    color : white;
}

footer {
    text-align: center;
}

.definition {
    background-color: #FFFFDB;
    text-align: center;
}

strong {
    background-color: yellow;
}

em {
    text-decoration: overline;
}

a {
    color: white;
}

a:hover {
    color : red;
}

footer > p {
    color: black;
}

.ressources {
    color : white;
}

.liens {
    font-weight: 800;
    font-size: 13px;
}

img {
    border: solid 2px black;
    border-radius: 30px;
    display: block;
    margin: auto;
    /*
    pour le centrage de mon image. J'ai remarqué que une balise <img> est une balise de type inline ce qui signifie que l'élément va occuper dans la page juste sa place et non pas tout l'espace disponible (= toute la largeur disponible). Donc 1ere solution, je change le compportement de mon élément, en le transformant en élément de type block, pour cela j'utilise la propriété display et je lui associe la valeur block.
    display: block;
    margin: auto;
    */
}
